<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<p><strong>Reviews for <%= @restaurant.name %></strong></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
    <%= review.content %>
    <%= link_to "Delete", review_path(review), data: { turbo_method: :delete } %>
    </li>
  <% end %>

</ul>

<%= link_to "Create a review", new_restaurant_review_path(@restaurant) %>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %> |
  <%= link_to "See the chef", chef_restaurant_path(@restaurant) %> |

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
